<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/materialize.min.css}">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/fonts.css}">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/custom.css}">

        <title>Home</title>
    </head>

    <body class="page-style">
        <nav class="nav-extended">
            <div class="nav-wrapper row">
                <i class="large material-icons offset-s2 col s1" style="font-size: 6rem; margin-top: 1.25rem;">cloud_queue</i>
                <h3 class="header col s6">Super Duper Drive</h3>
                <div class="col s3 push-s1 margin-top">
                    <form th:action="@{/logout}" method="POST">
                        <button type="submit" class="btn-large waves-effect waves-light indigo" id="btnLogOut">Logout<i class="material-icons right">lock_open</i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo z-depth-3" id="nav-tab">
                    <li class="tab col s4"><a id="nav-files-tab" href="#nav-files" class="active">Files</a></li>
                    <li class="tab col s4"><a id="nav-notes-tab" href="#nav-notes">Notes</a></li>
                    <li class="tab col s4"><a id="nav-credentials-tab" href="#nav-credentials">Credentials</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div id="nav-files" class="col s12 z-depth-3 card-panel">
                    <form th:action="@{/files}" enctype="multipart/form-data" method="POST">
                        <div class="file-field input-field col s8 push-s2 pull-s2">
                            <div class="btn waves-effect waves-light indigo col s2">
                                <span><i class="material-icons left">folder</i>File</span>
                                <input type="file" id="fileUpload" name="fileUpload">
                            </div>
                            <div class="file-path-wrapper col s6">
                                <input class="file-path validate" type="text" placeholder="Upload a New File">
                            </div>
                            <div class="col s4">
                                <button class="btn waves-effect waves-light indigo" type="submit" name="action"><i class="material-icons left">cloud_upload
                                </i>Upload
                                </button>
                            </div>
                        </div>
                    </form>
                    <table class="highlight" id="fileTable">
                        <thead>
                            <tr>
                                <th style="width: 30%"></th>
                                <th style="width: 70%">File Name</th>
                            </tr>
                        </thead>
                        <tbody th:each="file : ${files}">
                        <tr>
                            <td>
                                <div class="btn waves-effect waves-light green lighten-1">
                                    <a class="remove_link_colour"
                                        data-method="GET"
                                        th:href="${file.url}"
                                        th:download="${file.fileName}"
                                        rel="nofollow">
                                        View
                                    </a>
                                </div>
                                <div class="btn waves-effect waves-light red lighten-1">
                                    <a class="remove_link_colour"
                                       data-method="GET"
                                       th:href="@{/files/delete/} + ${file.fileId}"
                                       rel="nofollow">
                                        Delete
                                    </a>
                                </div>
                            </td>
                            <th th:text="${file.fileName}"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="nav-notes" class="col s12 z-depth-3 card-panel">
                    <div class="row">
                        <div class="col s2 push-s10">
                            <button type="button" class="btn waves-effect waves-light indigo margin-top" id="btnNotesAdd" onclick="showNoteModal()">
                                <i class="material-icons left">note_add</i>New Note</button>
                        </div>
                    </div>
                    <table class="highlight" id="notesTable">
                        <thead>
                        <tr>
                            <th style="width: 20%"></th>
                            <th style="width: 20%">Title</th>
                            <th style="width: 60%">Description</th>
                        </tr>
                        </thead>
                        <tbody th:each="note : ${notes}">
                            <tr>
                                <td>
                                    <button type="button"
                                            class="btn waves-effect waves-light green lighten-1"
                                            th:noteId="${note.noteId}"
                                            th:noteTitle="${note.noteTitle}"
                                            th:noteDescription="${note.noteDescription}"
                                            th:onclick="javascript:showNoteModal(this.getAttribute('noteId'), this.getAttribute('noteTitle'), this.getAttribute('noteDescription'));">
                                        Edit
                                    </button>
                                    <button type="button" class="btn waves-effect waves-light red lighten-1">
                                        <a class="remove_link_colour" data-method="GET" th:href="@{/notes/} + ${note.noteId}" rel="nofollow">Delete</a>
                                    </button>
                                </td>
                                <th th:text="${note.noteTitle}"></th>
                                <td th:text="${note.noteDescription}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal" id="noteModal">
                        <div class="modal-content">
                            <h4 class="header" id="noteModalLabel" >Note</h4>

                            <form th:action="@{/notes}" method="POST">
                                <input type="hidden" name="noteId" id="note-id">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <label for="note-title">Title</label>
                                        <input type="text" name="noteTitle" class="validate" id="note-title" maxlength="20" required>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="note-description" name="noteDescription" rows="5" class="materialize-textarea" data-length="1000" required></textarea>
                                        <label for="note-description">Description</label>
                                    </div>
                                </div>
                                <button id="noteSubmit" type="submit" class="hide"></button>
                            </form>

                            <div class="modal-footer">
                                <button type="button" class="modal-close btn waves-effect waves-light red lighten-1">Close</button>
                                <button type="button"
                                        id="btnSaveNoteModal"
                                        class="modal-action modal-close btn waves-effect waves-light green lighten-1"
                                        onclick="$('#noteSubmit').click();"
                                >Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="nav-credentials" class="col s12 z-depth-3 card-panel">
                    <div class="row">
                        <div class="col s3 push-s9">
                            <button id="btnCredentialAdd" type="button" class="btn waves-effect waves-light indigo margin-top" onclick="showCredentialModal()">
                                <i class="material-icons left">note_add</i>New Credential</button>
                        </div>
                    </div>

                    <table class="highlight" id="credentialTable">
                        <thead>
                            <tr>
                                <th style="width: 20%"></th>
                                <th style="width: 35%">URL</th>
                                <th style="width: 20%">Username</th>
                                <th style="width: 25%">Password</th>
                            </tr>
                        </thead>
                        <tbody th:each="credential : ${credentials}">
                            <tr>
                                <td>
                                    <button type="button"
                                            class="btn waves-effect waves-light green lighten-1"
                                            th:credentialId="${credential.credentialId}"
                                            th:url="${credential.url}"
                                            th:username="${credential.username}"
                                            th:unscrambledPassword="${credential.unscrambledPassword}"
                                            th:onclick="javascript:showCredentialModal(this.getAttribute('credentialId'), this.getAttribute('url'), this.getAttribute('username'), this.getAttribute('unscrambledPassword'));">
                                        Edit
                                    </button>
                                    <button type="button" class="btn waves-effect waves-light red lighten-1">
                                        <a
                                            class="remove_link_colour"
                                            data-method="GET"
                                            th:href="@{/credentials/} + ${credential.credentialId}"
                                            rel="nofollow">Delete</a>
                                    </button>
                                </td>
                                <th th:text="${credential.url}"></th>
                                <td th:text="${credential.username}"></td>
                                <td th:text="${credential.password}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="modal" id="credentialModal">
                        <div class="modal-content">
                            <h4 class="header" id="credentialModalLabel" >Credential</h4>

                            <form th:action="@{/credentials}" method="POST">
                                <input type="hidden" name="credentialId" id="credential-id">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <label for="credential-url">URL</label>
                                        <input type="text" name="url" class="validate" id="credential-url" maxlength="100" required>
                                    </div>
                                    <div class="input-field col s12">
                                        <label for="credential-username">Username</label>
                                        <input type="text" name="username" class="validate" id="credential-username" maxlength="30" required>
                                    </div>
                                    <div class="input-field col s12">
                                        <label for="credential-password">Password</label>
                                        <input type="text" name="password" class="validate" id="credential-password" maxlength="30" required>
                                    </div>
                                </div>
                                <button id="credentialSubmit" type="submit" class="hide"></button>
                            </form>

                            <div class="modal-footer">
                                <button type="button" class="modal-close btn waves-effect waves-light red lighten-1">Close</button>
                                <button type="button"
                                        id="btnSaveCredentialModal"
                                        class="modal-action modal-close btn waves-effect waves-light green lighten-1"
                                        onclick="$('#credentialSubmit').click();"
                                >Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">


            // For opening the note modal
            function showNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal();
                $('#noteModal').modal('open');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal();
                $('#credentialModal').modal('open');
            }

            var el = document.querySelector('.tabs');
            var instance = M.Tabs.init(el, {});
        </script>
    </body>
</html>